/* Styles pour le body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Utilisation de Flexbox pour centrer .container */
    justify-content: center; /* Centre .container horizontalement */
    align-items: center; /* Centre .container verticalement */
    min-height: 100vh; /* Assure que .container prend au moins 100% de la hauteur de la vue */
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Styles pour le .container principal */
.container {
    width: 428px;
    height: 626px;
    position: fixed;
    text-align: center;
    background: radial-gradient(100% 100% at 0% 0%, #FFBA33 0%, #5e5757 100%);
    opacity: 1.8;
    box-shadow: inset 10px -10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    overflow-y: auto; /* Ajoute une barre de défilement verticale en cas de dépassement du contenu */
}

/* Styles pour les étiquettes label */
label {
    font-size: 40px;
    color: rgb(167, 204, 204);
    left: 120px;
}

/* Styles pour l'image */
#img {
    position: relative;
    border-radius: 20px;
    width: 20%;
    top: 800px;
}

/* Styles pour le retour d'information produit */
#product-info {
    padding: 20px;
    color: rgb(171, 221, 205);
    font-size: larger;
    text-align: center; /* Centre le texte horizontalement */
}

/* Styles pour le titre h2 et les paragraphes p */
h2 {
    font-size: xx-large;
    color: #7af3b1;
}

p {
    font-size: larger;
}

/* Styles pour le champ de saisie code EAN */
#code_ean {
    border-radius: 20px;
    width: 382px;
    max-height: 100px; /* Définit la hauteur maximale */
    overflow-y: auto; /* Ajoute une barre de défilement verticale en cas de dépassement du contenu */
    right: 24px;
    top: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0f0d0d;
}

/* Styles pour le bouton de recherche */
button[type="submit"] {
    position: absolute;
    width: 144px;
    height: 63px;
    background-color: #67d699;
    top: 160px;
    border-radius: 20px;
    right: 140px;
}





/* Styles pour les écrans plus grands */
@media (min-width: 1900px) {
    /* Ajustement de la taille du .container */
    .container {
        width: 1860px;
        height: 900px;
    }

    /* Ajustement du bouton de recherche */
    button[type="submit"] {
        position: absolute;
        width: 184px;
        height: 83px;
        background-color: #67d699;
        bottom: 50px;
        border-radius: 20px;
        right: 870px;
    }

    /* Ajustement du champ de saisie code EAN */
    #code_ean {
        position: absolute;
        border-radius: 20px;
        width: 1382px;
        height: 68px;
        right: 15%;
        top: 80px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0f0d0d;
    }

    /* Ajustement de l'étiquette label */
    label {
        top: 20px;
        font-size: 40px;
        color: rgb(167, 204, 204);
        left: 800px;
        position: fixed;
    }

    /* Ajustement du retour d'information produit */
    #product-info {
        position: absolute;
        padding: 50px;
        color: rgb(171, 221, 205);
        top: 200px;
        left: 30%;
    }

    /* Ajustement de l'image */
    #img {
        position: relative;
        border-radius: 20px;
        max-width: 20%;
        max-height: 10%;
        top: 230px;
        right: 30%;
    }

    /* Ajustement de la taille du titre h2 et des paragraphes p */
    h2 {
        font-size: 50px;
        color: aqua;
    }

    p {
        font-size: 30px;
    }
}




