body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 428px; /* Largeur maximale pour les écrans plus petits */
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
    position: relative;
    text-align: center;
    background: radial-gradient(100% 100% at 0% 0%, #FFBA33 0%, #5e5757 100%);
    opacity: 1.8;
    box-shadow: inset 10px -10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 0 auto; /* Centre le contenu horizontalement */
    padding: 20px; /* Espacement intérieur pour le contenu */
}

/* Positionnement du label */
label {
    font-size: 40px;
    color: rgb(167, 204, 204);
}

/* Positionnement de l'image */
#img {
    border-radius: 20px;
    width: 20%;
    max-width: 100px; /* Taille maximale pour l'image */
    margin-top: 20px; /* Espacement par rapport au formulaire */
}

/* Positionnement des informations sur le produit */
#product-info {
    padding: 20px;
    color: rgb(171, 221, 205);
}

h2 {
    font-size: xx-large;
    color: #7af3b1;
}

p {
    font-size: larger;
}

/* Champ de saisie pour entrer le code EAN */
#code_ean {
    border-radius: 20px;
    width: 100%;
    max-width: 382px; /* Largeur maximale pour les écrans plus petits */
    height: 38px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0f0d0d;
    margin-top: 20px; /* Espacement par rapport au label */
}

/* Bouton de recherche */
button[type="submit"] {
    width: 100%;
    max-width: 144px; /* Largeur maximale pour les écrans plus petits */
    height: 63px;
    background-color: #67d699;
    border-radius: 20px;
    margin-top: 20px; /* Espacement par rapport au champ de saisie */
}

/* Styles pour les écrans plus grands */
@media (min-width: 900px) {
    .container {
        max-width: 1860px; /* Largeur maximale pour les écrans plus grands */
        height: 900px; /* Hauteur fixe pour les écrans plus grands */
        padding: 50px; /* Espacement intérieur supplémentaire pour les écrans plus grands */
        text-align: left; /* Alignement du texte à gauche pour les écrans plus grands */
    }

    label {
        font-size: 40px;
        color: rgb(167, 204, 204);
        position: absolute;
        top: 20px;
        left: 800px;
    }

    #product-info {
        padding: 50px;
        color: rgb(171, 221, 205);
        position: absolute;
        top: 200px;
        left: 30%;
    }

    #img {
        border-radius: 20px;
        max-width: 20%;
        max-height: 10%;
        position: absolute;
        top: 230px;
        right: 30%;
    }
    
    /* Ajoutez d'autres styles pour les écrans plus grands au besoin */
}
